## Table Of Contents
* [1- Loading the Dataset](#1-LoadingtheDataset)
* [2- Data-Preprocessing](#Data-Preprocessing)

<h1>1- Loading the Dataset </h1>

In [210]:
import pandas as pd
import numpy as np

In [211]:
data = pd.read_csv(r'dataset//cell2celltrain.csv', delimiter = ",",  header = 0, index_col = 0)

In [212]:
data.shape

(51047, 57)

In [213]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51047 entries, 3000002 to 3399994
Data columns (total 57 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Churn                      51047 non-null  object
 1   MonthlyRevenue             50891 non-null  float64
 2   MonthlyMinutes             50891 non-null  float64
 3   TotalRecurringCharge       50891 non-null  float64
 4   DirectorAssistedCalls      50891 non-null  float64
 5   OverageMinutes             50891 non-null  float64
 6   RoamingCalls               50891 non-null  float64
 7   PercChangeMinutes          50680 non-null  float64
 8   PercChangeRevenues         50680 non-null  float64
 9   DroppedCalls               51047 non-null  float64
 10  BlockedCalls               51047 non-null  float64
 11  UnansweredCalls            51047 non-null  float64
 12  CustomerCareCalls          51047 non-null  float64
 13  ThreewayCalls              51047 non-null  float64
 14  ReceivedCalls              51047 non-null  float64
 15  OutboundCalls              51047 non-null  float64
 16  InboundCalls               51047 non-null  float64
 17  PeakCallsInOut             51047 non-null  float64
 18  OffPeakCallsInOut          51047 non-null  float64
 19  DroppedBlockedCalls        51047 non-null  float64
 20  CallForwardingCalls        51047 non-null  float64
 21  CallWaitingCalls           51047 non-null  float64
 22  MonthsInService            51047 non-null  int64
 23  UniqueSubs                 51047 non-null  int64
 24  ActiveSubs                 51047 non-null  int64
 25  ServiceArea                51023 non-null  object
 26  Handsets                   51046 non-null  float64
 27  HandsetModels              51046 non-null  float64
 28  CurrentEquipmentDays       51046 non-null  float64
 29  AgeHH1                     50138 non-null  float64
 30  AgeHH2                     50138 non-null  float64
 31  ChildrenInHH               51047 non-null  object
 32  HandsetRefurbished         51047 non-null  object
 33  HandsetWebCapable          51047 non-null  object
 34  TruckOwner                 51047 non-null  object
 35  RVOwner                    51047 non-null  object
 36  Homeownership              51047 non-null  object
 37  BuysViaMailOrder           51047 non-null  object
 38  RespondsToMailOffers       51047 non-null  object
 39  OptOutMailings             51047 non-null  object
 40  NonUSTravel                51047 non-null  object
 41  OwnsComputer               51047 non-null  object
 42  HasCreditCard              51047 non-null  object
 43  RetentionCalls             51047 non-null  int64
 44  RetentionOffersAccepted    51047 non-null  int64
 45  NewCellphoneUser           51047 non-null  object
 46  NotNewCellphoneUser        51047 non-null  object
 47  ReferralsMadeBySubscriber  51047 non-null  int64
 48  IncomeGroup                51047 non-null  int64
 49  OwnsMotorcycle             51047 non-null  object
 50  AdjustmentsToCreditRating  51047 non-null  int64
 51  HandsetPrice               51047 non-null  object
 52  MadeCallToRetentionTeam    51047 non-null  object
 53  CreditRating               51047 non-null  object
 54  PrizmCode                  51047 non-null  object
 55  Occupation                 51047 non-null  object
 56  MaritalStatus              51047 non-null  object
dtypes: float64(26), int64(8), object(23)
memory usage: 22.6+ MB

In [214]:
data.head()

,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
CustomerID,,,,,,,,,,,,,,,,,,,,,
3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,0.7,...,0,4,No,0,30,Yes,1-Highest,Suburban,Professional,No
3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,0.3,...,0,5,No,0,30,No,4-Medium,Suburban,Professional,Yes
3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,0.0,...,0,6,No,0,Unknown,No,3-Good,Town,Crafts,Yes
3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,52.0,...,0,6,No,0,10,No,4-Medium,Other,Other,No
3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,0.0,...,0,9,No,1,10,No,1-Highest,Other,Professional,Yes

<h1> 2- Data-Preprocessing </h1>

<b>checking if there are rows that contain empty enteries</b>

In [7]:
rows_without_missing_data = data.dropna()

print(f"all rows: {data.shape}") 
print(f"rows without missing data: {rows_without_missing_data.shape}")
rows_w_missing_data=data.shape[0]-rows_without_missing_data.shape[0]

all rows: (51047, 57)
rows without missing data: (49752, 57)

In [8]:
rows_w_missing_data=data.shape[0]-rows_without_missing_data.shape[0]

In [9]:
rows_w_missing_data

1295

<b>checking that values of dependent variable (Churn) contains only either Yes or No  </b>

In [10]:
data['Churn'].unique()

array(['Yes', 'No'], dtype=object)

<b> Confirmed. no mistakes in data entry for this Class</b>

<h3>There are columns in the data that are of type "object" and it is unclear what their real data type is supposed to look like. </h3> </br>
<b>attempting to figure which coloumns are categorical, which are boolean, and which are strings</b>

In [15]:
for column in data.columns:
    if len(data[column].unique()) <= 10:
        print(data[column].unique())

['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Known' 'Unknown']
['Yes' 'No']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['Yes' 'No']
[1 0 3 2 4]
[0 1 2 3]
['No' 'Yes']
['No' 'Yes']
[4 5 6 9 1 7 3 0 8 2]
['No' 'Yes']
['Yes' 'No']
['1-Highest' '4-Medium' '3-Good' '6-VeryLow' '2-High' '5-Low' '7-Lowest']
['Suburban' 'Town' 'Other' 'Rural']
['Professional' 'Crafts' 'Other' 'Self' 'Retired' 'Homemaker' 'Clerical'
 'Student']
['No' 'Yes' 'Unknown']

In [21]:
# select only the categorical columns
cat_df = data.select_dtypes(include='int')
# print the column names and the unique values
for col in cat_df.columns:
    print(col)
    print(cat_df[col].unique())

MonthsInService
[61 58 60 59 53 57 55 56 54 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38
 37 36 35 34 33 32 29 31 30 23 24 28 12 27 26 25  8 10 22 19 21 18 20 17
 15 14 16 13 11  9  7  6]
UniqueSubs
[  2   1   3   5   6   4   7  12  11   9   8  10  13  18 196]
ActiveSubs
[ 1  2  3  4  0  5  8  6  9 53 11  7]
RetentionCalls
[1 0 3 2 4]
RetentionOffersAccepted
[0 1 2 3]
ReferralsMadeBySubscriber
[ 0  1  2  3  4  7  5  6 16 11  8  9 35]
IncomeGroup
[4 5 6 9 1 7 3 0 8 2]
AdjustmentsToCreditRating
[ 0  1  3  2  5  4  9  6 10  8  7 11 25 21 12]

In [22]:
import pandas as pd

# apply the type function to each element
types = data.apply(lambda x: x.apply(type))
# get the unique types for each column
for col in types.columns:
    print(col)
    print(types[col].unique())

Churn
[<class 'str'>]
MonthlyRevenue
[<class 'float'>]
MonthlyMinutes
[<class 'float'>]
TotalRecurringCharge
[<class 'float'>]
DirectorAssistedCalls
[<class 'float'>]
OverageMinutes
[<class 'float'>]
RoamingCalls
[<class 'float'>]
PercChangeMinutes
[<class 'float'>]
PercChangeRevenues
[<class 'float'>]
DroppedCalls
[<class 'float'>]
BlockedCalls
[<class 'float'>]
UnansweredCalls
[<class 'float'>]
CustomerCareCalls
[<class 'float'>]
ThreewayCalls
[<class 'float'>]
ReceivedCalls
[<class 'float'>]
OutboundCalls
[<class 'float'>]
InboundCalls
[<class 'float'>]
PeakCallsInOut
[<class 'float'>]
OffPeakCallsInOut
[<class 'float'>]
DroppedBlockedCalls
[<class 'float'>]
CallForwardingCalls
[<class 'float'>]
CallWaitingCalls
[<class 'float'>]
MonthsInService
[<class 'int'>]
UniqueSubs
[<class 'int'>]
ActiveSubs
[<class 'int'>]
ServiceArea
[<class 'str'> <class 'float'>]
Handsets
[<class 'float'>]
HandsetModels
[<class 'float'>]
CurrentEquipmentDays
[<class 'float'>]
AgeHH1
[<class 'float'>]
AgeHH2
[<class 'float'>]
ChildrenInHH
[<class 'str'>]
HandsetRefurbished
[<class 'str'>]
HandsetWebCapable
[<class 'str'>]
TruckOwner
[<class 'str'>]
RVOwner
[<class 'str'>]
Homeownership
[<class 'str'>]
BuysViaMailOrder
[<class 'str'>]
RespondsToMailOffers
[<class 'str'>]
OptOutMailings
[<class 'str'>]
NonUSTravel
[<class 'str'>]
OwnsComputer
[<class 'str'>]
HasCreditCard
[<class 'str'>]
RetentionCalls
[<class 'int'>]
RetentionOffersAccepted
[<class 'int'>]
NewCellphoneUser
[<class 'str'>]
NotNewCellphoneUser
[<class 'str'>]
ReferralsMadeBySubscriber
[<class 'int'>]
IncomeGroup
[<class 'int'>]
OwnsMotorcycle
[<class 'str'>]
AdjustmentsToCreditRating
[<class 'int'>]
HandsetPrice
[<class 'str'>]
MadeCallToRetentionTeam
[<class 'str'>]
CreditRating
[<class 'str'>]
PrizmCode
[<class 'str'>]
Occupation
[<class 'str'>]
MaritalStatus
[<class 'str'>]

In [12]:
data.select_dtypes(include='object')

,Churn,ServiceArea,ChildrenInHH,HandsetRefurbished,HandsetWebCapable,TruckOwner,RVOwner,Homeownership,BuysViaMailOrder,RespondsToMailOffers,...,HasCreditCard,NewCellphoneUser,NotNewCellphoneUser,OwnsMotorcycle,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
CustomerID,,,,,,,,,,,,,,,,,,,,,
3000002,Yes,SEAPOR503,No,No,Yes,No,No,Known,Yes,Yes,...,Yes,No,No,No,30,Yes,1-Highest,Suburban,Professional,No
3000010,Yes,PITHOM412,Yes,No,No,No,No,Known,Yes,Yes,...,Yes,Yes,No,No,30,No,4-Medium,Suburban,Professional,Yes
3000014,No,MILMIL414,Yes,No,No,No,No,Unknown,No,No,...,Yes,Yes,No,No,Unknown,No,3-Good,Town,Crafts,Yes
3000022,No,PITHOM412,No,No,Yes,No,No,Known,Yes,Yes,...,Yes,Yes,No,No,10,No,4-Medium,Other,Other,No
3000026,Yes,OKCTUL918,No,No,No,No,No,Known,Yes,Yes,...,Yes,No,Yes,No,10,No,1-Highest,Other,Professional,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3399958,Yes,LAXSFN818,No,Yes,Yes,No,No,Known,Yes,Yes,...,Yes,No,No,No,60,No,1-Highest,Suburban,Other,Yes
3399974,No,LAXCDG310,Yes,No,Yes,No,No,Known,Yes,Yes,...,Yes,No,No,No,60,No,3-Good,Other,Other,No
3399978,Yes,LAXCDG310,No,No,Yes,No,No,Known,No,No,...,Yes,No,No,No,80,No,5-Low,Other,Clerical,No
3399990,No,NEVPOW619,Yes,No,Yes,No,No,Unknown,No,No,...,No,No,No,No,30,No,5-Low,Other,Other,No
3399994,No,NEVPOW619,No,No,Yes,No,No,Unknown,No,No,...,No,No,No,No,60,Yes,5-Low,Other,Other,Unknown

<b>returning all columns of type object</b>

In [30]:
#selecting columns with type 'object'

data = data.select_dtypes(include='object')

obj_data_subset.sample(5)

,Churn,ServiceArea,ChildrenInHH,HandsetRefurbished,HandsetWebCapable,TruckOwner,RVOwner,Homeownership,BuysViaMailOrder,RespondsToMailOffers,...,HasCreditCard,NewCellphoneUser,NotNewCellphoneUser,OwnsMotorcycle,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
CustomerID,,,,,,,,,,,,,,,,,,,,,
3367354,No,ATHJHC423,No,No,Yes,No,No,Unknown,No,No,...,No,Yes,No,No,Unknown,No,2-High,Rural,Other,Unknown
3210314,No,NYCMAN917,No,No,Yes,No,No,Known,No,No,...,Yes,No,No,No,200,No,3-Good,Other,Other,No
3155350,No,AIRGRE864,Yes,No,Yes,No,No,Known,No,No,...,Yes,No,No,No,150,No,7-Lowest,Town,Other,No
3281994,No,LAXVNY818,No,No,Yes,No,No,Unknown,No,No,...,No,No,No,No,30,No,5-Low,Other,Other,Unknown
3006618,No,SFRSMO650,No,Yes,Yes,No,No,Known,Yes,Yes,...,Yes,Yes,No,No,200,No,1-Highest,Suburban,Professional,No

In [34]:
len(obj_data_subset["ServiceArea"].unique())

748

<b>* note: we have 748 Service Areas<b> </br>
<b> Service Area dtype = String</b>

In [39]:
for column in obj_data_subset.columns:
        print(f"{column}: {len(obj_data_subset[column].unique())}")

Churn: 2
ServiceArea: 748
ChildrenInHH: 2
HandsetRefurbished: 2
HandsetWebCapable: 2
TruckOwner: 2
RVOwner: 2
Homeownership: 2
BuysViaMailOrder: 2
RespondsToMailOffers: 2
OptOutMailings: 2
NonUSTravel: 2
OwnsComputer: 2
HasCreditCard: 2
NewCellphoneUser: 2
NotNewCellphoneUser: 2
OwnsMotorcycle: 2
HandsetPrice: 16
MadeCallToRetentionTeam: 2
CreditRating: 7
PrizmCode: 4
Occupation: 8
MaritalStatus: 3

<b>features that have 2 values only are most likely boolean</b>

<b>Homeownership is boolean, but describing "Homeownership" as true for Known, and False for Unknown, does not correctly depict the meaning</b> </br>
<b>therefore, change in label iteself, as "Homeownership_Known" such that if True, it means that we know of the Homeownership,  delivering the correct meaning</b>

In [215]:
data.rename(columns={"Homeownership": "Homeownership_Known"}, inplace=True)

In [216]:
data['Homeownership_Known'].head()

CustomerID
3000002      Known
3000010      Known
3000014    Unknown
3000022      Known
3000026      Known
Name: Homeownership_Known, dtype: object

In [217]:
for column in data.columns:
    if len(data[column].unique() )== 2: 
        print(f"feature: {column} is likely boolean")
        print(f"sample: {data[column].sample(4)}")
        data[column] = data[column].str.lower().map({'yes': True, 'known': True, 'no':False, 'unknown': False})
        print(f"changed datatype: {data[column].dtype}")

feature: Churn is likely boolean
sample: CustomerID
3388294    No
3365822    No
3150202    No
3010246    No
Name: Churn, dtype: object
changed datatype: bool
feature: ChildrenInHH is likely boolean
sample: CustomerID
3161570     No
3154194     No
3047378    Yes
3395842    Yes
Name: ChildrenInHH, dtype: object
changed datatype: bool
feature: HandsetRefurbished is likely boolean
sample: CustomerID
3316822    No
3372798    No
3312790    No
3100658    No
Name: HandsetRefurbished, dtype: object
changed datatype: bool
feature: HandsetWebCapable is likely boolean
sample: CustomerID
3144526    Yes
3319654    Yes
3086038     No
3141314    Yes
Name: HandsetWebCapable, dtype: object
changed datatype: bool
feature: TruckOwner is likely boolean
sample: CustomerID
3241274    No
3338598    No
3117886    No
3099814    No
Name: TruckOwner, dtype: object
changed datatype: bool
feature: RVOwner is likely boolean
sample: CustomerID
3045734    Yes
3252194    Yes
3216138     No
3074966     No
Name: RVOwner, dtype: object
changed datatype: bool
feature: Homeownership_Known is likely boolean
sample: CustomerID
3311502    Unknown
3371466    Unknown
3341214      Known
3187850      Known
Name: Homeownership_Known, dtype: object
changed datatype: bool
feature: BuysViaMailOrder is likely boolean
sample: CustomerID
3324298    No
3081962    No
3115342    No
3291110    No
Name: BuysViaMailOrder, dtype: object
changed datatype: bool
feature: RespondsToMailOffers is likely boolean
sample: CustomerID
3145250     No
3303398     No
3313998     No
3104294    Yes
Name: RespondsToMailOffers, dtype: object
changed datatype: bool
feature: OptOutMailings is likely boolean
sample: CustomerID
3034306    No
3225526    No
3169222    No
3239662    No
Name: OptOutMailings, dtype: object
changed datatype: bool
feature: NonUSTravel is likely boolean
sample: CustomerID
3096382    No
3143982    No
3298414    No
3387038    No
Name: NonUSTravel, dtype: object
changed datatype: bool
feature: OwnsComputer is likely boolean
sample: CustomerID
3323090    No
3051354    No
3250530    No
3276254    No
Name: OwnsComputer, dtype: object
changed datatype: bool
feature: HasCreditCard is likely boolean
sample: CustomerID
3261438    Yes
3062794    Yes
3377674     No
3393702    Yes
Name: HasCreditCard, dtype: object
changed datatype: bool
feature: NewCellphoneUser is likely boolean
sample: CustomerID
3190962    No
3051330    No
3046206    No
3038494    No
Name: NewCellphoneUser, dtype: object
changed datatype: bool
feature: NotNewCellphoneUser is likely boolean
sample: CustomerID
3273570    No
3330954    No
3327118    No
3234502    No
Name: NotNewCellphoneUser, dtype: object
changed datatype: bool
feature: OwnsMotorcycle is likely boolean
sample: CustomerID
3146942    No
3089586    No
3036870    No
3090762    No
Name: OwnsMotorcycle, dtype: object
changed datatype: bool
feature: MadeCallToRetentionTeam is likely boolean
sample: CustomerID
3361242    No
3062162    No
3282558    No
3215846    No
Name: MadeCallToRetentionTeam, dtype: object
changed datatype: bool

In [218]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51047 entries, 3000002 to 3399994
Data columns (total 57 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Churn                      51047 non-null  bool
 1   MonthlyRevenue             50891 non-null  float64
 2   MonthlyMinutes             50891 non-null  float64
 3   TotalRecurringCharge       50891 non-null  float64
 4   DirectorAssistedCalls      50891 non-null  float64
 5   OverageMinutes             50891 non-null  float64
 6   RoamingCalls               50891 non-null  float64
 7   PercChangeMinutes          50680 non-null  float64
 8   PercChangeRevenues         50680 non-null  float64
 9   DroppedCalls               51047 non-null  float64
 10  BlockedCalls               51047 non-null  float64
 11  UnansweredCalls            51047 non-null  float64
 12  CustomerCareCalls          51047 non-null  float64
 13  ThreewayCalls              51047 non-null  float64
 14  ReceivedCalls              51047 non-null  float64
 15  OutboundCalls              51047 non-null  float64
 16  InboundCalls               51047 non-null  float64
 17  PeakCallsInOut             51047 non-null  float64
 18  OffPeakCallsInOut          51047 non-null  float64
 19  DroppedBlockedCalls        51047 non-null  float64
 20  CallForwardingCalls        51047 non-null  float64
 21  CallWaitingCalls           51047 non-null  float64
 22  MonthsInService            51047 non-null  int64
 23  UniqueSubs                 51047 non-null  int64
 24  ActiveSubs                 51047 non-null  int64
 25  ServiceArea                51023 non-null  object
 26  Handsets                   51046 non-null  float64
 27  HandsetModels              51046 non-null  float64
 28  CurrentEquipmentDays       51046 non-null  float64
 29  AgeHH1                     50138 non-null  float64
 30  AgeHH2                     50138 non-null  float64
 31  ChildrenInHH               51047 non-null  bool
 32  HandsetRefurbished         51047 non-null  bool
 33  HandsetWebCapable          51047 non-null  bool
 34  TruckOwner                 51047 non-null  bool
 35  RVOwner                    51047 non-null  bool
 36  Homeownership_Known        51047 non-null  bool
 37  BuysViaMailOrder           51047 non-null  bool
 38  RespondsToMailOffers       51047 non-null  bool
 39  OptOutMailings             51047 non-null  bool
 40  NonUSTravel                51047 non-null  bool
 41  OwnsComputer               51047 non-null  bool
 42  HasCreditCard              51047 non-null  bool
 43  RetentionCalls             51047 non-null  int64
 44  RetentionOffersAccepted    51047 non-null  int64
 45  NewCellphoneUser           51047 non-null  bool
 46  NotNewCellphoneUser        51047 non-null  bool
 47  ReferralsMadeBySubscriber  51047 non-null  int64
 48  IncomeGroup                51047 non-null  int64
 49  OwnsMotorcycle             51047 non-null  bool
 50  AdjustmentsToCreditRating  51047 non-null  int64
 51  HandsetPrice               51047 non-null  object
 52  MadeCallToRetentionTeam    51047 non-null  bool
 53  CreditRating               51047 non-null  object
 54  PrizmCode                  51047 non-null  object
 55  Occupation                 51047 non-null  object
 56  MaritalStatus              51047 non-null  object
dtypes: bool(17), float64(26), int64(8), object(6)
memory usage: 16.8+ MB

<b>that way, we changed all boolean objects to their correct data type</b>

<b> regarding MaritalStatus, changing its datatype to category, where unknown category is Nan</b>

In [219]:
data['MaritalStatus'].unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [220]:
data['MaritalStatus'].str.lower().replace('unknown', np.nan, inplace=True)

data['MaritalStatus'] = data['MaritalStatus'].astype('category')

In [221]:
data['MaritalStatus'].info()

<class 'pandas.core.series.Series'>
Index: 51047 entries, 3000002 to 3399994
Series name: MaritalStatus
Non-Null Count  Dtype
--------------  -----
51047 non-null  category
dtypes: category(1)
memory usage: 448.8 KB

In [222]:
data['MaritalStatus'].sample(10)

CustomerID
3306506        Yes
3222834        Yes
3047822        Yes
3020738         No
3327986         No
3297474    Unknown
3167358    Unknown
3137738        Yes
3074622        Yes
3205322        Yes
Name: MaritalStatus, dtype: category
Categories (3, object): ['No', 'Unknown', 'Yes']

In [223]:
for column in data.columns:
    if data.dtypes[column] == 'object':
        print(f"{column}: {len(data[column].unique())}")
        print(f"sample: {data[column].unique()}")
        print("----------------------------------------------------------------")

ServiceArea: 748
sample: ['SEAPOR503' 'PITHOM412' 'MILMIL414' 'OKCTUL918' 'OKCOKC405' 'SANMCA210'
 'SLCSLC801' 'LOULOU502' 'KCYKCK913' 'KCYNEW316' 'KCYKCM816' 'DENDEN303'
 'PHICTR610' 'OKCLRK501' 'OMADES515' 'SANAUS512' 'KCYWIC316' 'INDIND317'
 'SLCPRO801' 'OMALNC402' 'NSHNSH615' 'OMAOMA402' 'PHXTUC520' 'DALDAL214'
 'DALDTN940' 'DALFTW817' 'SANSAN210' 'NYCMAN917' 'NOLKEN504' 'MINMIN612'
 'NNYROC716' 'PHIARD610' 'NYCQUE917' 'DENBOU303' 'BOSBOS617' 'PHXPHX602'
 'NNYBUF716' 'DETTOL419' 'NNYSYR315' 'STLSTL314' 'PHIPHI215' 'SEABLV425'
 'MIAMIA305' 'PHICHC215' 'SEASEA206' 'BIRBIR205' 'MIADFD954' 'LOUNAL812'
 'MIADEL561' 'MIAFTL954' 'SEASPO509' 'SEATAC253' 'SFRSAC916' 'MIANDA305'
 'MINSTP612' 'MIAHWD954' 'NYCBRO917' 'PHIJEN215' 'OMACDR319' 'MIAWPB561'
 'SEAOLY360' 'PITBUT412' 'SEAEVE425' 'PHIMER609' 'SEACDA208' 'HARHAR860'
 'SFRSFR415' 'SFROAK510' 'SFRSCL408' 'NNYALB518' 'STLCOL618' 'NYCNEW201'
 'SFRPAL650' 'DETDET313' 'DETROS810' 'NYCNEW908' 'NYCNAS516' 'NSHCOL615'
 'PITGRE412' 'SEABEA503' 'NYCSUF516' 'MIAMAR305' 'HARNOR203' 'SANSMC512'
 'SFRSMO650' 'PHIMUL609' 'NYCWHI914' 'DETPON248' 'BOSPRO401' 'SANGEO512'
 'DETANN734' 'BOSMAN603' 'PHIAVD610' 'DETWYN734' 'SFRSRO707' 'PHITRT609'
 'SLCKAY801' 'PITGIB412' 'OKCCON501' 'BOSBOS781' 'SEAEUG541' 'APCFCH703'
 'APCSIL301' 'SANCRP512' 'SEAVAN360' 'LOULEX606' 'HARWAT203' 'NYCNEW973'
 'PHIWIL302' 'DALDEN903' 'APCWAS202' 'PITCOR412' 'HARNEW203' 'SFROAK925'
 'SFRSFS650' 'MIAFTM941' 'OMAIWC319' 'APCBAL410' 'BOSPTL207' 'MIAKEY305'
 'NYCNEW732' 'DALSHR903' 'LOUFRK502' 'MIANAP941' 'DENGLD303' 'DETMON734'
 'BOSBOS978' 'MIAPSL561' 'KCYLAW913' 'NNYPOU914' 'MIABON941' 'HARSPR413'
 'SEACOR541' nan 'FLNJAC904' 'MIAPOR941' 'FLNORL407' 'FLNTAL850'
 'FLNGAN352' 'MIAVER561' 'INDMUN765' 'PITMON412' 'NEVLVS702' 'FLNSAN407'
 'FLNTAM813' 'FLNCLR813' 'KCYHUT316' 'HARLON860' 'OHICIN513' 'OHICOL614'
 'ATLCHA423' 'FLNLEE352' 'OHIDAY937' 'FLNSAR941' 'NCRRAL919' 'FLNDAY904'
 'FLNKIS407' 'ATLMEM901' 'HOUHOU281' 'ATLKNO423' 'HOUGLV409' 'NCRGRE336'
 'LOUCOR812' 'HOUBRN409' 'OHICOV606' 'FLNOCA352' 'NCRCRY919' 'NCRCHA704'
 'DENGRE970' 'FLNNPR813' 'APCANN443' 'HOUCON409' 'KCYTOP913' 'SEASAL503'
 'FLNWNH941' 'OHINEW740' 'OHILAN740' 'BOSFRA508' 'DENCOL719' 'BOSBOS508'
 'DENFTC970' 'OMAAMS515' 'NCRFAY910' 'OKCBEN501' 'ATLALB912' 'SEAABN253'
 'PITIND724' 'FLNSAG904' 'SEALVW360' 'ATLANE678' 'CHICHI312' 'FLNCOC407'
 'CHILAG630' 'CHINBK847' 'SFUSAC530' 'OHICLE216' 'ATLATL678' 'CHICHI773'
 'BOSWOR508' 'SLCPRK435' 'CHILAG708' 'OHIAKR330' 'OHIYNG330' 'APCSVP443'
 'DALGVL940' 'ATLROS678' 'PITROC412' 'ATLNOR678' 'ATLATH706' 'ATLJCK901'
 'OHISGF937' 'OHICAN330' 'DENVAL970' 'OHIELY440' 'OHIWAR330' 'OHILRN440'
 'STLCMB573' 'CHIJOL815' 'HWIHON808' 'ATLDAL334' 'OHILAW812' 'NCRRIC804'
 'MIAJUP561' 'FLNLAK941' 'NCRGRB757' 'SEAALB541' 'OHIDEL740' 'HWIMAU808'
 'PITWAS412' 'STLJEF573' 'APCFRD301' 'NCRNWN757' 'OHIMAN419' 'OHIPSV440'
 'LOUETN502' 'NCRWLM757' 'MIASUG305' 'ATLTUN601' 'OHIMED330' 'ATLMAC912'
 'KCYELD316' 'MILKEN414' 'SEACHE360' 'CHIRCK815' 'FLNOGC904' 'LAXCDG310'
 'LAXRIV909' 'FLNBRD941' 'NEVSDG619' 'LAXANA714' 'NEVENC760' 'LAXSAN714'
 'LAXMON323' 'LAXBUR818' 'LAXCOR909' 'NEVELC619' 'HOULJK409' 'NEVCHU619'
 'CHIGRY219' 'NYCPLS609' 'LAXBEV310' 'LAXIRV949' 'LAXLAX213' 'LAXVNY818'
 'LAXSFN818' 'NEVESC760' 'LAXONT909' 'LAXSBN909' 'LAXDOW562' 'NMXLAR956'
 'LAXALB626' 'FLNWNP407' 'LAXLAG949' 'OHIMRY937' 'LAXSMN310' 'LAXPAS626'
 'NEVPOW619' 'PHIELK443' 'DENDIL970' 'SLCTOO801' 'NCRDUR919' 'NCRPTR804'
 'OKCARD580' 'NCRSPN910' 'MILRAC414' 'NMXELP915' 'HOUFRE409' 'SLCOGD801'
 'LAXCOV626' 'OMANEW515' 'DETFLI810' 'NEVOCN760' 'PITCAR412' 'OHIBER440'
 'NEVLMS619' 'LAXLAX323' 'ATLCOL706' 'NMXLUB806' 'SEAMTV360' 'LAXALA562'
 'PHIDOV302' 'NCRPOR757' 'HOUSPR832' 'NCRVIR757' 'NMXAMA806' 'OHIWOO330'
 'OKCWIC940' 'NMXTER915' 'NMXLCR505' 'LAXOAK805' 'HARBRI203' 'NYCCIT914'
 'OKCFTS501' 'OKCSTW405' 'ATLSWT423' 'PITNEW412' 'PHIMID302' 'STLFUL573'
 'NCRMID704' 'NMXALB505' 'OHIAUR330' 'OKCLAW580' 'NCRCHE757' 'HOUBMT409'
 'NYCMTK914' 'SHEWIN540' 'APCEAS443' 'SHEEDI540' 'SHEHAG301' 'SDASFL605'
 'SHEMAR304' 'SHEMYE301' 'PHIPLS609' 'OKCCHC405' 'APCSAL443' 'SHECHA717'
 'NCRWIN336' 'NMXABI915' 'CHIDAV319' 'MILMAD608' 'LAXPSG760' 'SEASIL360'
 'CHICPT219' 'PHICAM302' 'CHIBLO309' 'ATLDTN706' 'DETBWG419' 'NMXSAN505'
 'SHEHAR540' 'NCRWAK919' 'OHITRT937' 'NYCTMR732' 'NYCKPT732' 'NMXSAN915'
 'NYCFHD732' 'OHISAN419' 'OKCMAN785' 'BOSNSH603' 'AIRGRE864' 'NCRCON704'
 'AIRASH828' 'PITFOR412' 'MILWAU262' 'PHXGLE623' 'PHXSCO480' 'SDABRK605'
 'SHEFTR540' 'ATLATN423' 'FLNSMY904' 'CHISPR217' 'AIRAND864' 'PITMNG412'
 'AIRHIC828' 'CHIPEO309' 'NYCETT732' 'AIRMYR843' 'NMXDEL830' 'LAXLAN661'
 'AIRWIL910' 'APCFRE540' 'AIRROC252' 'OKCBAR918' 'MILJAN608' 'OKCJUN785'
 'FLNPAL904' 'NMXEAG830' 'DETLAN517' 'FLNCRY352' 'AIRCHA843' 'OKCEMP316'
 'DETBAT616' 'OKCCAB501' 'PITWHE304' 'ATLDOT334' 'STLJOS816' 'AIRAUG706'
 'DETKAL616' 'AIRCOL803' 'OKCFAY501' 'OKCMCP316' 'LAXCUL310' 'MIAOKE863'
 'AIRSPA864' 'DETJAC517' 'FLNSTK904' 'AIRSAV912' 'CHICHA217' 'OKCBTN501'
 'NYCPLA908' 'LAXVIC760' 'AIRROA252' 'AIRGOL919' 'FLNAVO863' 'NMXLSA505'
 'FLNSEB863' 'OHIXEN937' 'APCLEE703' 'AIRAIK803' 'PHIWLW609' 'STLCHA636'
 'PHIMIV856' 'STLCHE636' 'FLNINV352' 'SFRWOO530' 'OKCMCA918' 'LAUJAC601'
 'OHIASH419' 'AIRGRN252' 'NEVCOR619' 'SDAWTR605' 'SFRDAN925' 'AIRORA803'
 'NYCPAS973' 'INDLAF765' 'OHITRO937' 'APCWAL240' 'SFRCRU831' 'PHICAP609'
 'NORSTC320' 'SANTEM254' 'NEVLAU702' 'HOUHUN936' 'SANREF361' 'NCRKAN704'
 'LAXOXN805' 'NCRMON704' 'AIRFLO843' 'HOUANG409' 'MILJNC920' 'ATLCHN706'
 'FLNFRN904' 'NCRHAR704' 'SFRROC916' 'OHIPIQ937' 'OMAGRN515' 'LAXING310'
 'AIRJAC910' 'LAXSIM805' 'PHISAL856' 'DETFER248' 'SANKIL254' 'OKCEND580'
 'OHIKEN330' 'PITUNT412' 'DETSOU248' 'APCWES443' 'LAXVEN805' 'NMXPLA806'
 'OKCMUS918' 'CHIDEC217' 'MILWAT920' 'MILLAK262' 'LAXCAN661' 'PHIGEO302'
 'FLNEUS352' 'AIRWIN252' 'AIRSUM803' 'SANFRE830' 'OHIHAR330' 'ATLLAG706'
 'ATHJHC423' 'FLNZEP813' 'ATHKIN423' 'FLNBEL352' 'SFRDSR925' 'NYCWOO732'
 'NCRGST704' 'INDCIC317' 'OHIMAR740' 'NORROC507' 'DETTRO248' 'DALATH903'
 'AIRGWD864' 'FLNBAR863' 'MIABEL561' 'DALMNW940' 'STLOZA573' 'OHINOR419'
 'SEWWAL509' 'KCYWAR660' 'OHIMID513' 'SANCOC254' 'SEWKEN509' 'SEWPAS509'
 'DALSLS903' 'OHIALL330' 'OHINCA937' 'OHHPAR304' 'OHHZAN740' 'OHHCHI740'
 'OHHPOR740' 'OHHCAM740' 'OHHMTA740' 'OHHWAV740' 'OHHJAC740' 'OHHATH740'
 'OHHGAL740' 'MILBEL608' 'STLSED660' 'NCRYOR803' 'NOLBOG504' 'ATHLIM423'
 'SANGIL830' 'SANLAM512' 'NCRCLA919' 'SEWYAK509' 'INHCRI419' 'FLNBSH352'
 'CHIROC309' 'INHVNW419' 'SEWGTP541' 'SFRSGS530' 'NEVNAT619' 'OHIOXF513'
 'BIRJAS205' 'INHFTW219' 'LAXSJC949' 'SEWMED541' 'NMCPUE719' 'FLNLKP863'
 'MINCOR763' 'ATLVAL229' 'PHILAN717' 'IPMGDR616' 'OHIOBE440' 'AIRGAF864'
 'AIRELI252' 'DALCOM903' 'DETFRE419' 'DALSTV254' 'STLSPR417' 'FLNLKW863'
 'INDFRA765' 'SEWROS541' 'NVUREN775' 'SFRWTV831' 'AIRMOR828' 'OHICLB330'
 'AIRNWB252' 'AIRWYV828' 'NCRPIT919' 'AWIAPP920' 'AWIGRE920' 'DALMVN903'
 'INDCRA765' 'AWIFON920' 'ATLOPE334' 'NORDUL218' 'NVUGAR775' 'AIRBEA843'
 'SEWSUN509' 'NCRSMF757' 'LAXWES310' 'INHBLU419' 'OHILEB513' 'SEABLG360'
 'OKCSAL785' 'KCYLEA913' 'AWIOSH920' 'NYCJER201' 'INHSBN219' 'NCRROC803'
 'SEWPRO509' 'OHICIR740' 'AWISHE920' 'INDCLO765' 'NCRASH336' 'AIRCAM803'
 'LAUCLM662' 'SEAOKH360' 'SEWPEN541' 'SEAMON503' 'APCBEL443' 'PHIVIN609'
 'DALGRE903' 'NMXFLA520' 'LAXCAS661' 'LAXIND760' 'INDAND765' 'SANWOO361'
 'DALCRS903' 'LAXSNP310' 'NORZIM763' 'INHDFN419' 'PHIRDN484' 'KCYCLI660'
 'KCYOTW785' 'NOROWT507' 'BOSHYA508' 'PHIALL484' 'FLNWAU863' 'NCRALB704'
 'ATHHAM423' 'NNYUTI315' 'AIRMAR828' 'FLNKEH352' 'MILLKM920' 'BIRPEL205'
 'ATLOVB601' 'NORMAN507' 'FLNKEN321' 'FLNHNC863' 'PITSOM814' 'IPMMID517'
 'STLJOP417' 'NCRHEN252' 'CHILAS815' 'FLNLKC904' 'FLNARC863' 'ATLBRU912'
 'DETNOR248' 'NORRDW651' 'LAUTUP662' 'AIRNEW803' 'AIRGEO843' 'NCRSMI919'
 'FLNWIL352' 'MILBUR262' 'NCRSHE704' 'KCYHES316' 'HOUVIC361' 'MINBLO952'
 'SEWMLF541' 'NCRSIC919' 'OHIRAV330' 'NSHSPR615' 'IPMSAG517' 'SEWKHF541'
 'CHIKAN815' 'NMXPRE520' 'KCYHNV816' 'STLROL573' 'PHIBRI856' 'DETWAS419'
 'NORFRM218' 'NCROXF919' 'AIRKIN252' 'SFRCBL408' 'AWIMAN920' 'PHIMIL302'
 'OHIWIL937' 'NCRSAL704' 'NMCGDJ970' 'DALKAU469' 'SFRWLC925' 'NOLPIC601'
 'STLCPG573' 'SFRCON925' 'DETADR517' 'OHIMTV740' 'DETBNH616' 'STLCRD618'
 'STLHNB573' 'NOLPOH504' 'NMXYUM520' 'STLQUI217' 'LAUHAT601' 'SFRHAY510'
 'ATLPRR478' 'ATLDBL478' 'NNYBUR914' 'CHIMTV618' 'LAUGNW662' 'SHEYOR717'
 'SANROM956' 'NORALX320' 'IPMHOL616' 'LAXPER909' 'SANKER830' 'OHIBCY419'
 'SHECAR717' 'NORFAR701' 'NCRLUM910' 'NCRHGP336' 'INHCEL419' 'CHIWAT319'
 'SEWHDR541' 'ATLMDV478' 'ATLWMP870' 'AIRHHI843' 'BOSBRA781' 'PITWEI304'
 'SFURED530' 'VAHRAD540' 'VAHROA540' 'VAHWAY540' 'VAHCHL804' 'VAHLYN804'
 'VAHMTN540' 'VAHDAN804' 'VAHSTA540' 'OHIBUT419' 'NCRMIL803' 'CHIDEK815'
 'LAUBRO601' 'STLPIT316' 'INHHIC419' 'HOPNAN570' 'APCWAR540' 'NCRSAN919'
 'SEALEW208' 'PHISCR717' 'INHFIN419' 'INUEVA812' 'APCLXT240' 'SEABOI208'
 'OHHFAI304' 'OHHMOR304' 'OHHCHA304' 'OHHASH606' 'OHHHUN304' 'OHHCLA304'
 'NORFER218' 'SEADAL503' 'SFRFAI707' 'ATLSEN662' 'GCWBTR225' 'GCWLAF337'
 'GCWGUL228' 'APCBET240' 'STLPRB573' 'SFRVAC707' 'SFRRCM510' 'INHKOK765'
 'LAWBUM409' 'SLUSTG435' 'LAUNAT601' 'NCRDNN910']
----------------------------------------------------------------
HandsetPrice: 16
sample: ['30' 'Unknown' '10' '80' '150' '300' '40' '200' '100' '130' '60' '400'
 '240' '250' '180' '500']
----------------------------------------------------------------
CreditRating: 7
sample: ['1-Highest' '4-Medium' '3-Good' '6-VeryLow' '2-High' '5-Low' '7-Lowest']
----------------------------------------------------------------
PrizmCode: 4
sample: ['Suburban' 'Town' 'Other' 'Rural']
----------------------------------------------------------------
Occupation: 8
sample: ['Professional' 'Crafts' 'Other' 'Self' 'Retired' 'Homemaker' 'Clerical'
 'Student']
----------------------------------------------------------------

In [224]:
#changing the features that have finite set of values to categorical

data['PrizmCode'] = data['PrizmCode'].astype('category')
data['Occupation'] = data['Occupation'].astype('category')

<b>CreditRating feature seems to be ordinal data</b>


since we still dont know exactly if this feature will be used later on and how exactly, seems viable to separate the creditrating feature into 2, one is numerical, and the other is string (categorical)

In [225]:
#Extract numerical part
data['CreditRating_Numeric'] = data['CreditRating'].str[:1] 

#Extract string part
data['CreditRating_Label'] = data['CreditRating'].str[2:]

In [226]:
data['CreditRating_Numeric'] =data['CreditRating_Numeric'].astype('int64')
data['CreditRating_Label'] = data['CreditRating_Label'].astype('category')

drop the CreditRating Column

In [227]:
data.drop(columns=['CreditRating'], inplace=True)

<b>convert HandsetPrice to float, and Unknown values will be 'NaN'</b>

In [228]:
data['HandsetPrice'] = pd.to_numeric(data['HandsetPrice'], errors='coerce')

<b>ServiceArea has 748 unique values, its not very practical to one-hot encode it. </b>

In [229]:
#extract the string part
data['City'] = data['ServiceArea'].str[:-3]
#extract the last three digits
data['AreaCode'] = data['ServiceArea'].str[-3:]

In [230]:
len(data['City'].unique())

737

In [231]:
len(data['AreaCode'].unique())

197

<b>attempt to perform frequency encoding </b>

In [232]:
city_counts = data['City'].value_counts()
data['SerivceArea_City_Frequency'] = data['City'].map(city_counts)

area_code_counts = data['AreaCode'].value_counts()
data['ServiceArea_AreaCode_Frequency'] = data['AreaCode'].map(area_code_counts)

In [243]:

try:
    data.drop(columns=['City'], inplace=True)
    data.drop(columns=['AreaCode'], inplace=True)
    data.drop(columns=['ServiceArea'], inplace=True)
except:
    print("already dropped")

already dropped

In [244]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51047 entries, 3000002 to 3399994
Data columns (total 59 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Churn                           51047 non-null  bool
 1   MonthlyRevenue                  50891 non-null  float64
 2   MonthlyMinutes                  50891 non-null  float64
 3   TotalRecurringCharge            50891 non-null  float64
 4   DirectorAssistedCalls           50891 non-null  float64
 5   OverageMinutes                  50891 non-null  float64
 6   RoamingCalls                    50891 non-null  float64
 7   PercChangeMinutes               50680 non-null  float64
 8   PercChangeRevenues              50680 non-null  float64
 9   DroppedCalls                    51047 non-null  float64
 10  BlockedCalls                    51047 non-null  float64
 11  UnansweredCalls                 51047 non-null  float64
 12  CustomerCareCalls               51047 non-null  float64
 13  ThreewayCalls                   51047 non-null  float64
 14  ReceivedCalls                   51047 non-null  float64
 15  OutboundCalls                   51047 non-null  float64
 16  InboundCalls                    51047 non-null  float64
 17  PeakCallsInOut                  51047 non-null  float64
 18  OffPeakCallsInOut               51047 non-null  float64
 19  DroppedBlockedCalls             51047 non-null  float64
 20  CallForwardingCalls             51047 non-null  float64
 21  CallWaitingCalls                51047 non-null  float64
 22  MonthsInService                 51047 non-null  int64
 23  UniqueSubs                      51047 non-null  int64
 24  ActiveSubs                      51047 non-null  int64
 25  Handsets                        51046 non-null  float64
 26  HandsetModels                   51046 non-null  float64
 27  CurrentEquipmentDays            51046 non-null  float64
 28  AgeHH1                          50138 non-null  float64
 29  AgeHH2                          50138 non-null  float64
 30  ChildrenInHH                    51047 non-null  bool
 31  HandsetRefurbished              51047 non-null  bool
 32  HandsetWebCapable               51047 non-null  bool
 33  TruckOwner                      51047 non-null  bool
 34  RVOwner                         51047 non-null  bool
 35  Homeownership_Known             51047 non-null  bool
 36  BuysViaMailOrder                51047 non-null  bool
 37  RespondsToMailOffers            51047 non-null  bool
 38  OptOutMailings                  51047 non-null  bool
 39  NonUSTravel                     51047 non-null  bool
 40  OwnsComputer                    51047 non-null  bool
 41  HasCreditCard                   51047 non-null  bool
 42  RetentionCalls                  51047 non-null  int64
 43  RetentionOffersAccepted         51047 non-null  int64
 44  NewCellphoneUser                51047 non-null  bool
 45  NotNewCellphoneUser             51047 non-null  bool
 46  ReferralsMadeBySubscriber       51047 non-null  int64
 47  IncomeGroup                     51047 non-null  int64
 48  OwnsMotorcycle                  51047 non-null  bool
 49  AdjustmentsToCreditRating       51047 non-null  int64
 50  HandsetPrice                    22065 non-null  float64
 51  MadeCallToRetentionTeam         51047 non-null  bool
 52  PrizmCode                       51047 non-null  category
 53  Occupation                      51047 non-null  category
 54  MaritalStatus                   51047 non-null  category
 55  CreditRating_Numeric            51047 non-null  int64
 56  CreditRating_Label              51047 non-null  category
 57  SerivceArea_City_Frequency      51023 non-null  float64
 58  ServiceArea_AreaCode_Frequency  51023 non-null  float64
dtypes: bool(17), category(4), float64(29), int64(9)
memory usage: 16.2 MB

In [246]:
for column in data.columns:
    if data.dtypes[column] == 'category':
        print(f"{column}: {len(data[column].unique())}")
        print(f"sample: {data[column].unique()}")
        print("----------------------------------------------------------------")

PrizmCode: 4
sample: ['Suburban', 'Town', 'Other', 'Rural']
Categories (4, object): ['Other', 'Rural', 'Suburban', 'Town']
----------------------------------------------------------------
Occupation: 8
sample: ['Professional', 'Crafts', 'Other', 'Self', 'Retired', 'Homemaker', 'Clerical', 'Student']
Categories (8, object): ['Clerical', 'Crafts', 'Homemaker', 'Other', 'Professional', 'Retired', 'Self', 'Student']
----------------------------------------------------------------
MaritalStatus: 3
sample: ['No', 'Yes', 'Unknown']
Categories (3, object): ['No', 'Unknown', 'Yes']
----------------------------------------------------------------
CreditRating_Label: 7
sample: ['Highest', 'Medium', 'Good', 'VeryLow', 'High', 'Low', 'Lowest']
Categories (7, object): ['Good', 'High', 'Highest', 'Low', 'Lowest', 'Medium', 'VeryLow']
----------------------------------------------------------------

In [252]:
data2 = data

In [291]:
for column in data.columns:
    if data.dtypes[column] == 'category':
        # Perform one-hot encoding
        encoded_cols = pd.get_dummies(data[column], prefix=column)
        
        # Concatenate the one-hot encoded columns to the original DataFrame
        data = pd.concat([data, encoded_cols], axis=1)
        
        # Drop the original categorical column if needed
        #data = data.drop(column, axis=1)

In [292]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51047 entries, 3000002 to 3399994
Data columns (total 81 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Churn                           51047 non-null  int32
 1   MonthlyRevenue                  50891 non-null  float64
 2   MonthlyMinutes                  50891 non-null  float64
 3   TotalRecurringCharge            50891 non-null  float64
 4   DirectorAssistedCalls           50891 non-null  float64
 5   OverageMinutes                  50891 non-null  float64
 6   RoamingCalls                    50891 non-null  float64
 7   PercChangeMinutes               50680 non-null  float64
 8   PercChangeRevenues              50680 non-null  float64
 9   DroppedCalls                    51047 non-null  float64
 10  BlockedCalls                    51047 non-null  float64
 11  UnansweredCalls                 51047 non-null  float64
 12  CustomerCareCalls               51047 non-null  float64
 13  ThreewayCalls                   51047 non-null  float64
 14  ReceivedCalls                   51047 non-null  float64
 15  OutboundCalls                   51047 non-null  float64
 16  InboundCalls                    51047 non-null  float64
 17  PeakCallsInOut                  51047 non-null  float64
 18  OffPeakCallsInOut               51047 non-null  float64
 19  DroppedBlockedCalls             51047 non-null  float64
 20  CallForwardingCalls             51047 non-null  float64
 21  CallWaitingCalls                51047 non-null  float64
 22  MonthsInService                 51047 non-null  int64
 23  UniqueSubs                      51047 non-null  int64
 24  ActiveSubs                      51047 non-null  int64
 25  Handsets                        51046 non-null  float64
 26  HandsetModels                   51046 non-null  float64
 27  CurrentEquipmentDays            51046 non-null  float64
 28  AgeHH1                          50138 non-null  float64
 29  AgeHH2                          50138 non-null  float64
 30  ChildrenInHH                    51047 non-null  int32
 31  HandsetRefurbished              51047 non-null  int32
 32  HandsetWebCapable               51047 non-null  int32
 33  TruckOwner                      51047 non-null  int32
 34  RVOwner                         51047 non-null  int32
 35  Homeownership_Known             51047 non-null  int32
 36  BuysViaMailOrder                51047 non-null  int32
 37  RespondsToMailOffers            51047 non-null  int32
 38  OptOutMailings                  51047 non-null  int32
 39  NonUSTravel                     51047 non-null  int32
 40  OwnsComputer                    51047 non-null  int32
 41  HasCreditCard                   51047 non-null  int32
 42  RetentionCalls                  51047 non-null  int64
 43  RetentionOffersAccepted         51047 non-null  int64
 44  NewCellphoneUser                51047 non-null  int32
 45  NotNewCellphoneUser             51047 non-null  int32
 46  ReferralsMadeBySubscriber       51047 non-null  int64
 47  IncomeGroup                     51047 non-null  int64
 48  OwnsMotorcycle                  51047 non-null  int32
 49  AdjustmentsToCreditRating       51047 non-null  int64
 50  HandsetPrice                    22065 non-null  float64
 51  MadeCallToRetentionTeam         51047 non-null  int32
 52  PrizmCode                       51047 non-null  category
 53  Occupation                      51047 non-null  category
 54  MaritalStatus                   51047 non-null  category
 55  CreditRating_Numeric            51047 non-null  int64
 56  CreditRating_Label              51047 non-null  category
 57  SerivceArea_City_Frequency      51023 non-null  float64
 58  ServiceArea_AreaCode_Frequency  51023 non-null  float64
 59  PrizmCode_Other                 51047 non-null  bool
 60  PrizmCode_Rural                 51047 non-null  bool
 61  PrizmCode_Suburban              51047 non-null  bool
 62  PrizmCode_Town                  51047 non-null  bool
 63  Occupation_Clerical             51047 non-null  bool
 64  Occupation_Crafts               51047 non-null  bool
 65  Occupation_Homemaker            51047 non-null  bool
 66  Occupation_Other                51047 non-null  bool
 67  Occupation_Professional         51047 non-null  bool
 68  Occupation_Retired              51047 non-null  bool
 69  Occupation_Self                 51047 non-null  bool
 70  Occupation_Student              51047 non-null  bool
 71  MaritalStatus_No                51047 non-null  bool
 72  MaritalStatus_Unknown           51047 non-null  bool
 73  MaritalStatus_Yes               51047 non-null  bool
 74  CreditRating_Label_Good         51047 non-null  bool
 75  CreditRating_Label_High         51047 non-null  bool
 76  CreditRating_Label_Highest      51047 non-null  bool
 77  CreditRating_Label_Low          51047 non-null  bool
 78  CreditRating_Label_Lowest       51047 non-null  bool
 79  CreditRating_Label_Medium       51047 non-null  bool
 80  CreditRating_Label_VeryLow      51047 non-null  bool
dtypes: bool(22), category(4), float64(29), int32(17), int64(9)
memory usage: 19.8 MB

In [293]:
boolean_columns = ['CreditRating_Label_Good', 'CreditRating_Label_High', 'CreditRating_Label_Highest',
                    'CreditRating_Label_Low', 'CreditRating_Label_Lowest', 'CreditRating_Label_Medium',
                    'CreditRating_Label_VeryLow']

# Convert boolean values to integers and concatenate them
data['CreditRating_Encoded'] = data[boolean_columns].astype(int).apply(lambda row: ''.join(map(str, row)), axis=1)

# Convert the concatenated string to int
data['CreditRating_Encoded'] = data['CreditRating_Encoded'].astype(int)

# Drop the individual boolean columns
data.drop(columns=boolean_columns, inplace=True)

In [294]:
boolean_columns = ["MaritalStatus_No","MaritalStatus_Unknown","MaritalStatus_Yes"]        

# Convert boolean values to integers and concatenate them
data['MaritalStatus_Encoded'] = data[boolean_columns].astype(int).apply(lambda row: ''.join(map(str, row)), axis=1)

# Convert the concatenated string to int
data['MaritalStatus_Encoded'] = data['MaritalStatus_Encoded'].astype(int)

# Drop the individual boolean columns
data.drop(columns=boolean_columns, inplace=True)

In [295]:
boolean_columns = ["PrizmCode_Other","PrizmCode_Rural","PrizmCode_Suburban", "PrizmCode_Town" ]         

# Convert boolean values to integers and concatenate them
data['PrizmCode_Encoded'] = data[boolean_columns].astype(int).apply(lambda row: ''.join(map(str, row)), axis=1)

# Convert the concatenated string to int
data['PrizmCode_Encoded'] = data['PrizmCode_Encoded'].astype(int)

# Drop the individual boolean columns
data.drop(columns=boolean_columns, inplace=True)

In [296]:
boolean_columns = ["Occupation_Clerical","Occupation_Crafts","Occupation_Homemaker","Occupation_Other","Occupation_Professional","Occupation_Retired","Occupation_Self","Occupation_Student"]

# Convert boolean values to integers and concatenate them
data['Occupation_Encoded'] = data[boolean_columns].astype(int).apply(lambda row: ''.join(map(str, row)), axis=1)

# Convert the concatenated string to int
data['Occupation_Encoded'] = data['Occupation_Encoded'].astype(int)

# Drop the individual boolean columns
data.drop(columns=boolean_columns, inplace=True)

In [290]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51047 entries, 3000002 to 3399994
Data columns (total 59 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Churn                           51047 non-null  int32
 1   MonthlyRevenue                  50891 non-null  float64
 2   MonthlyMinutes                  50891 non-null  float64
 3   TotalRecurringCharge            50891 non-null  float64
 4   DirectorAssistedCalls           50891 non-null  float64
 5   OverageMinutes                  50891 non-null  float64
 6   RoamingCalls                    50891 non-null  float64
 7   PercChangeMinutes               50680 non-null  float64
 8   PercChangeRevenues              50680 non-null  float64
 9   DroppedCalls                    51047 non-null  float64
 10  BlockedCalls                    51047 non-null  float64
 11  UnansweredCalls                 51047 non-null  float64
 12  CustomerCareCalls               51047 non-null  float64
 13  ThreewayCalls                   51047 non-null  float64
 14  ReceivedCalls                   51047 non-null  float64
 15  OutboundCalls                   51047 non-null  float64
 16  InboundCalls                    51047 non-null  float64
 17  PeakCallsInOut                  51047 non-null  float64
 18  OffPeakCallsInOut               51047 non-null  float64
 19  DroppedBlockedCalls             51047 non-null  float64
 20  CallForwardingCalls             51047 non-null  float64
 21  CallWaitingCalls                51047 non-null  float64
 22  MonthsInService                 51047 non-null  int64
 23  UniqueSubs                      51047 non-null  int64
 24  ActiveSubs                      51047 non-null  int64
 25  Handsets                        51046 non-null  float64
 26  HandsetModels                   51046 non-null  float64
 27  CurrentEquipmentDays            51046 non-null  float64
 28  AgeHH1                          50138 non-null  float64
 29  AgeHH2                          50138 non-null  float64
 30  ChildrenInHH                    51047 non-null  int32
 31  HandsetRefurbished              51047 non-null  int32
 32  HandsetWebCapable               51047 non-null  int32
 33  TruckOwner                      51047 non-null  int32
 34  RVOwner                         51047 non-null  int32
 35  Homeownership_Known             51047 non-null  int32
 36  BuysViaMailOrder                51047 non-null  int32
 37  RespondsToMailOffers            51047 non-null  int32
 38  OptOutMailings                  51047 non-null  int32
 39  NonUSTravel                     51047 non-null  int32
 40  OwnsComputer                    51047 non-null  int32
 41  HasCreditCard                   51047 non-null  int32
 42  RetentionCalls                  51047 non-null  int64
 43  RetentionOffersAccepted         51047 non-null  int64
 44  NewCellphoneUser                51047 non-null  int32
 45  NotNewCellphoneUser             51047 non-null  int32
 46  ReferralsMadeBySubscriber       51047 non-null  int64
 47  IncomeGroup                     51047 non-null  int64
 48  OwnsMotorcycle                  51047 non-null  int32
 49  AdjustmentsToCreditRating       51047 non-null  int64
 50  HandsetPrice                    22065 non-null  float64
 51  MadeCallToRetentionTeam         51047 non-null  int32
 52  PrizmCode                       51047 non-null  category
 53  Occupation                      51047 non-null  category
 54  MaritalStatus                   51047 non-null  category
 55  CreditRating_Numeric            51047 non-null  int64
 56  CreditRating_Label              51047 non-null  category
 57  SerivceArea_City_Frequency      51023 non-null  float64
 58  ServiceArea_AreaCode_Frequency  51023 non-null  float64
dtypes: category(4), float64(29), int32(17), int64(9)
memory usage: 18.7 MB

In [276]:
data2['Occupation_Encoded'].head(10)

CustomerID
3000002       1000
3000010       1000
3000014    1000000
3000022      10000
3000026       1000
3000030      10000
3000038         10
3000042       1000
3000046      10000
3000050       1000
Name: Occupation_Encoded, dtype: int32

<b>changing booleans to 0s and 1s</b>

In [280]:
for column in data.columns:
    if data.dtypes[column] == 'bool':
        data[column] = data[column].astype(int)

In [281]:
data['Churn'].head()

CustomerID
3000002    1
3000010    1
3000014    0
3000022    0
3000026    1
Name: Churn, dtype: int32