## Table Of Contents
* [1- Loading the Dataset](#1-LoadingtheDataset)
* [2- Data-Preprocessing](#Data-Preprocessing)

<h1>1- Loading the Dataset </h1>

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'dataset//cell2celltrain.csv', delimiter = ",",  header = 0, index_col = 0)

In [4]:
data.shape

(51047, 57)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51047 entries, 3000002 to 3399994
Data columns (total 57 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Churn                      51047 non-null  object
 1   MonthlyRevenue             50891 non-null  float64
 2   MonthlyMinutes             50891 non-null  float64
 3   TotalRecurringCharge       50891 non-null  float64
 4   DirectorAssistedCalls      50891 non-null  float64
 5   OverageMinutes             50891 non-null  float64
 6   RoamingCalls               50891 non-null  float64
 7   PercChangeMinutes          50680 non-null  float64
 8   PercChangeRevenues         50680 non-null  float64
 9   DroppedCalls               51047 non-null  float64
 10  BlockedCalls               51047 non-null  float64
 11  UnansweredCalls            51047 non-null  float64
 12  CustomerCareCalls          51047 non-null  float64
 13  ThreewayCalls              51047 non-null  float64
 14  ReceivedCalls              51047 non-null  float64
 15  OutboundCalls              51047 non-null  float64
 16  InboundCalls               51047 non-null  float64
 17  PeakCallsInOut             51047 non-null  float64
 18  OffPeakCallsInOut          51047 non-null  float64
 19  DroppedBlockedCalls        51047 non-null  float64
 20  CallForwardingCalls        51047 non-null  float64
 21  CallWaitingCalls           51047 non-null  float64
 22  MonthsInService            51047 non-null  int64
 23  UniqueSubs                 51047 non-null  int64
 24  ActiveSubs                 51047 non-null  int64
 25  ServiceArea                51023 non-null  object
 26  Handsets                   51046 non-null  float64
 27  HandsetModels              51046 non-null  float64
 28  CurrentEquipmentDays       51046 non-null  float64
 29  AgeHH1                     50138 non-null  float64
 30  AgeHH2                     50138 non-null  float64
 31  ChildrenInHH               51047 non-null  object
 32  HandsetRefurbished         51047 non-null  object
 33  HandsetWebCapable          51047 non-null  object
 34  TruckOwner                 51047 non-null  object
 35  RVOwner                    51047 non-null  object
 36  Homeownership              51047 non-null  object
 37  BuysViaMailOrder           51047 non-null  object
 38  RespondsToMailOffers       51047 non-null  object
 39  OptOutMailings             51047 non-null  object
 40  NonUSTravel                51047 non-null  object
 41  OwnsComputer               51047 non-null  object
 42  HasCreditCard              51047 non-null  object
 43  RetentionCalls             51047 non-null  int64
 44  RetentionOffersAccepted    51047 non-null  int64
 45  NewCellphoneUser           51047 non-null  object
 46  NotNewCellphoneUser        51047 non-null  object
 47  ReferralsMadeBySubscriber  51047 non-null  int64
 48  IncomeGroup                51047 non-null  int64
 49  OwnsMotorcycle             51047 non-null  object
 50  AdjustmentsToCreditRating  51047 non-null  int64
 51  HandsetPrice               51047 non-null  object
 52  MadeCallToRetentionTeam    51047 non-null  object
 53  CreditRating               51047 non-null  object
 54  PrizmCode                  51047 non-null  object
 55  Occupation                 51047 non-null  object
 56  MaritalStatus              51047 non-null  object
dtypes: float64(26), int64(8), object(23)
memory usage: 22.6+ MB

In [6]:
data.head()

,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
CustomerID,,,,,,,,,,,,,,,,,,,,,
3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,0.7,...,0,4,No,0,30,Yes,1-Highest,Suburban,Professional,No
3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,0.3,...,0,5,No,0,30,No,4-Medium,Suburban,Professional,Yes
3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,0.0,...,0,6,No,0,Unknown,No,3-Good,Town,Crafts,Yes
3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,52.0,...,0,6,No,0,10,No,4-Medium,Other,Other,No
3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,0.0,...,0,9,No,1,10,No,1-Highest,Other,Professional,Yes

<h1> 2- Data-Preprocessing </h1>

<b>checking if there are rows that contain empty enteries</b>

In [7]:
rows_without_missing_data = data.dropna()

print(f"all rows: {data.shape}") 
print(f"rows without missing data: {rows_without_missing_data.shape}")
rows_w_missing_data=data.shape[0]-rows_without_missing_data.shape[0]

all rows: (51047, 57)
rows without missing data: (49752, 57)

In [8]:
rows_w_missing_data=data.shape[0]-rows_without_missing_data.shape[0]

In [9]:
rows_w_missing_data

1295

<b>checking that values of dependent variable (Churn) contains only either Yes or No  </b>

In [10]:
data['Churn'].unique()

array(['Yes', 'No'], dtype=object)

<b> Confirmed. no mistakes in data entry for this Class</b>

<h3>There are columns in the data that are of type "object" and it is unclear what their real data type is supposed to look like. </h3> </br>
<b>attempting to figure which coloumns are categorical, which are boolean, and which are strings</b>

In [15]:
for column in data.columns:
    if len(data[column].unique()) <= 10:
        print(data[column].unique())

['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Known' 'Unknown']
['Yes' 'No']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['Yes' 'No']
[1 0 3 2 4]
[0 1 2 3]
['No' 'Yes']
['No' 'Yes']
[4 5 6 9 1 7 3 0 8 2]
['No' 'Yes']
['Yes' 'No']
['1-Highest' '4-Medium' '3-Good' '6-VeryLow' '2-High' '5-Low' '7-Lowest']
['Suburban' 'Town' 'Other' 'Rural']
['Professional' 'Crafts' 'Other' 'Self' 'Retired' 'Homemaker' 'Clerical'
 'Student']
['No' 'Yes' 'Unknown']

In [21]:
# select only the categorical columns
cat_df = data.select_dtypes(include='int')
# print the column names and the unique values
for col in cat_df.columns:
    print(col)
    print(cat_df[col].unique())

MonthsInService
[61 58 60 59 53 57 55 56 54 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38
 37 36 35 34 33 32 29 31 30 23 24 28 12 27 26 25  8 10 22 19 21 18 20 17
 15 14 16 13 11  9  7  6]
UniqueSubs
[  2   1   3   5   6   4   7  12  11   9   8  10  13  18 196]
ActiveSubs
[ 1  2  3  4  0  5  8  6  9 53 11  7]
RetentionCalls
[1 0 3 2 4]
RetentionOffersAccepted
[0 1 2 3]
ReferralsMadeBySubscriber
[ 0  1  2  3  4  7  5  6 16 11  8  9 35]
IncomeGroup
[4 5 6 9 1 7 3 0 8 2]
AdjustmentsToCreditRating
[ 0  1  3  2  5  4  9  6 10  8  7 11 25 21 12]

In [22]:
import pandas as pd

# apply the type function to each element
types = data.apply(lambda x: x.apply(type))
# get the unique types for each column
for col in types.columns:
    print(col)
    print(types[col].unique())

Churn
[<class 'str'>]
MonthlyRevenue
[<class 'float'>]
MonthlyMinutes
[<class 'float'>]
TotalRecurringCharge
[<class 'float'>]
DirectorAssistedCalls
[<class 'float'>]
OverageMinutes
[<class 'float'>]
RoamingCalls
[<class 'float'>]
PercChangeMinutes
[<class 'float'>]
PercChangeRevenues
[<class 'float'>]
DroppedCalls
[<class 'float'>]
BlockedCalls
[<class 'float'>]
UnansweredCalls
[<class 'float'>]
CustomerCareCalls
[<class 'float'>]
ThreewayCalls
[<class 'float'>]
ReceivedCalls
[<class 'float'>]
OutboundCalls
[<class 'float'>]
InboundCalls
[<class 'float'>]
PeakCallsInOut
[<class 'float'>]
OffPeakCallsInOut
[<class 'float'>]
DroppedBlockedCalls
[<class 'float'>]
CallForwardingCalls
[<class 'float'>]
CallWaitingCalls
[<class 'float'>]
MonthsInService
[<class 'int'>]
UniqueSubs
[<class 'int'>]
ActiveSubs
[<class 'int'>]
ServiceArea
[<class 'str'> <class 'float'>]
Handsets
[<class 'float'>]
HandsetModels
[<class 'float'>]
CurrentEquipmentDays
[<class 'float'>]
AgeHH1
[<class 'float'>]
AgeHH2
[<class 'float'>]
ChildrenInHH
[<class 'str'>]
HandsetRefurbished
[<class 'str'>]
HandsetWebCapable
[<class 'str'>]
TruckOwner
[<class 'str'>]
RVOwner
[<class 'str'>]
Homeownership
[<class 'str'>]
BuysViaMailOrder
[<class 'str'>]
RespondsToMailOffers
[<class 'str'>]
OptOutMailings
[<class 'str'>]
NonUSTravel
[<class 'str'>]
OwnsComputer
[<class 'str'>]
HasCreditCard
[<class 'str'>]
RetentionCalls
[<class 'int'>]
RetentionOffersAccepted
[<class 'int'>]
NewCellphoneUser
[<class 'str'>]
NotNewCellphoneUser
[<class 'str'>]
ReferralsMadeBySubscriber
[<class 'int'>]
IncomeGroup
[<class 'int'>]
OwnsMotorcycle
[<class 'str'>]
AdjustmentsToCreditRating
[<class 'int'>]
HandsetPrice
[<class 'str'>]
MadeCallToRetentionTeam
[<class 'str'>]
CreditRating
[<class 'str'>]
PrizmCode
[<class 'str'>]
Occupation
[<class 'str'>]
MaritalStatus
[<class 'str'>]

In [12]:
data.select_dtypes(include='object')

,Churn,ServiceArea,ChildrenInHH,HandsetRefurbished,HandsetWebCapable,TruckOwner,RVOwner,Homeownership,BuysViaMailOrder,RespondsToMailOffers,...,HasCreditCard,NewCellphoneUser,NotNewCellphoneUser,OwnsMotorcycle,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
CustomerID,,,,,,,,,,,,,,,,,,,,,
3000002,Yes,SEAPOR503,No,No,Yes,No,No,Known,Yes,Yes,...,Yes,No,No,No,30,Yes,1-Highest,Suburban,Professional,No
3000010,Yes,PITHOM412,Yes,No,No,No,No,Known,Yes,Yes,...,Yes,Yes,No,No,30,No,4-Medium,Suburban,Professional,Yes
3000014,No,MILMIL414,Yes,No,No,No,No,Unknown,No,No,...,Yes,Yes,No,No,Unknown,No,3-Good,Town,Crafts,Yes
3000022,No,PITHOM412,No,No,Yes,No,No,Known,Yes,Yes,...,Yes,Yes,No,No,10,No,4-Medium,Other,Other,No
3000026,Yes,OKCTUL918,No,No,No,No,No,Known,Yes,Yes,...,Yes,No,Yes,No,10,No,1-Highest,Other,Professional,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3399958,Yes,LAXSFN818,No,Yes,Yes,No,No,Known,Yes,Yes,...,Yes,No,No,No,60,No,1-Highest,Suburban,Other,Yes
3399974,No,LAXCDG310,Yes,No,Yes,No,No,Known,Yes,Yes,...,Yes,No,No,No,60,No,3-Good,Other,Other,No
3399978,Yes,LAXCDG310,No,No,Yes,No,No,Known,No,No,...,Yes,No,No,No,80,No,5-Low,Other,Clerical,No
3399990,No,NEVPOW619,Yes,No,Yes,No,No,Unknown,No,No,...,No,No,No,No,30,No,5-Low,Other,Other,No
3399994,No,NEVPOW619,No,No,Yes,No,No,Unknown,No,No,...,No,No,No,No,60,Yes,5-Low,Other,Other,Unknown

<b>returning all columns of type object</b>

In [30]:
#selecting columns with type 'object'

data = data.select_dtypes(include='object')

obj_data_subset.sample(5)

,Churn,ServiceArea,ChildrenInHH,HandsetRefurbished,HandsetWebCapable,TruckOwner,RVOwner,Homeownership,BuysViaMailOrder,RespondsToMailOffers,...,HasCreditCard,NewCellphoneUser,NotNewCellphoneUser,OwnsMotorcycle,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
CustomerID,,,,,,,,,,,,,,,,,,,,,
3367354,No,ATHJHC423,No,No,Yes,No,No,Unknown,No,No,...,No,Yes,No,No,Unknown,No,2-High,Rural,Other,Unknown
3210314,No,NYCMAN917,No,No,Yes,No,No,Known,No,No,...,Yes,No,No,No,200,No,3-Good,Other,Other,No
3155350,No,AIRGRE864,Yes,No,Yes,No,No,Known,No,No,...,Yes,No,No,No,150,No,7-Lowest,Town,Other,No
3281994,No,LAXVNY818,No,No,Yes,No,No,Unknown,No,No,...,No,No,No,No,30,No,5-Low,Other,Other,Unknown
3006618,No,SFRSMO650,No,Yes,Yes,No,No,Known,Yes,Yes,...,Yes,Yes,No,No,200,No,1-Highest,Suburban,Professional,No

In [34]:
len(obj_data_subset["ServiceArea"].unique())

748

<b>* note: we have 748 Service Areas<b> </br>
<b> Service Area dtype = String</b>

In [39]:
for column in obj_data_subset.columns:
        print(f"{column}: {len(obj_data_subset[column].unique())}")

Churn: 2
ServiceArea: 748
ChildrenInHH: 2
HandsetRefurbished: 2
HandsetWebCapable: 2
TruckOwner: 2
RVOwner: 2
Homeownership: 2
BuysViaMailOrder: 2
RespondsToMailOffers: 2
OptOutMailings: 2
NonUSTravel: 2
OwnsComputer: 2
HasCreditCard: 2
NewCellphoneUser: 2
NotNewCellphoneUser: 2
OwnsMotorcycle: 2
HandsetPrice: 16
MadeCallToRetentionTeam: 2
CreditRating: 7
PrizmCode: 4
Occupation: 8
MaritalStatus: 3

<b>features that have 2 values only are most likely boolean</b>

<b>Homeownership is boolean, but describing "Homeownership" as true for Known, and False for Unknown, does not correctly depict the meaning</b> </br>
<b>therefore, change in label iteself, as "Homeownership_Known" such that if True, it means that we know of the Homeownership,  delivering the correct meaning</b>

In [57]:
data.rename(columns={"Homeownership": "Homeownership_Known"}, inplace=True)

In [59]:
data['Homeownership_Known'].head()

CustomerID
3000002      Known
3000010      Known
3000014    Unknown
3000022      Known
3000026      Known
Name: Homeownership_Known, dtype: object

In [60]:
for column in data.columns:
    if len(data[column].unique() )== 2: 
        print(f"feature: {column} is likely boolean")
        print(f"sample: {data[column].sample(4)}")
        data[column] = data[column].str.lower().map({'yes': True, 'known': True, 'no':False, 'unknown': False})
        print(f"changed datatype: {data[column].dtype}")

feature: Churn is likely boolean
sample: CustomerID
3324182    No
3201774    No
3273770    No
3074834    No
Name: Churn, dtype: object
changed datatype: bool
feature: ChildrenInHH is likely boolean
sample: CustomerID
3005482    No
3138318    No
3080230    No
3035702    No
Name: ChildrenInHH, dtype: object
changed datatype: bool
feature: HandsetRefurbished is likely boolean
sample: CustomerID
3092362    No
3022626    No
3189914    No
3319850    No
Name: HandsetRefurbished, dtype: object
changed datatype: bool
feature: HandsetWebCapable is likely boolean
sample: CustomerID
3080102    Yes
3110926    Yes
3213654    Yes
3265210    Yes
Name: HandsetWebCapable, dtype: object
changed datatype: bool
feature: TruckOwner is likely boolean
sample: CustomerID
3133610     No
3337870    Yes
3209482     No
3110118     No
Name: TruckOwner, dtype: object
changed datatype: bool
feature: RVOwner is likely boolean
sample: CustomerID
3331174     No
3164042     No
3193210     No
3209110    Yes
Name: RVOwner, dtype: object
changed datatype: bool
feature: Homeownership_Known is likely boolean
sample: CustomerID
3292862    Known
3247330    Known
3201414    Known
3125578    Known
Name: Homeownership_Known, dtype: object
changed datatype: bool
feature: BuysViaMailOrder is likely boolean
sample: CustomerID
3069458     No
3225322     No
3391402    Yes
3079446    Yes
Name: BuysViaMailOrder, dtype: object
changed datatype: bool
feature: RespondsToMailOffers is likely boolean
sample: CustomerID
3144354    Yes
3141942     No
3022346     No
3104710     No
Name: RespondsToMailOffers, dtype: object
changed datatype: bool
feature: OptOutMailings is likely boolean
sample: CustomerID
3346962    No
3335330    No
3090314    No
3222702    No
Name: OptOutMailings, dtype: object
changed datatype: bool
feature: NonUSTravel is likely boolean
sample: CustomerID
3260542    No
3122410    No
3034730    No
3119986    No
Name: NonUSTravel, dtype: object
changed datatype: bool
feature: OwnsComputer is likely boolean
sample: CustomerID
3295110    Yes
3053850     No
3266478     No
3367762    Yes
Name: OwnsComputer, dtype: object
changed datatype: bool
feature: HasCreditCard is likely boolean
sample: CustomerID
3286870     No
3383462    Yes
3165518    Yes
3175290    Yes
Name: HasCreditCard, dtype: object
changed datatype: bool
feature: NewCellphoneUser is likely boolean
sample: CustomerID
3264162     No
3005150    Yes
3317406     No
3331522    Yes
Name: NewCellphoneUser, dtype: object
changed datatype: bool
feature: NotNewCellphoneUser is likely boolean
sample: CustomerID
3008150    Yes
3336858     No
3130258     No
3303494     No
Name: NotNewCellphoneUser, dtype: object
changed datatype: bool
feature: OwnsMotorcycle is likely boolean
sample: CustomerID
3007426    No
3246066    No
3273254    No
3379414    No
Name: OwnsMotorcycle, dtype: object
changed datatype: bool
feature: MadeCallToRetentionTeam is likely boolean
sample: CustomerID
3349230    No
3145430    No
3191222    No
3325330    No
Name: MadeCallToRetentionTeam, dtype: object
changed datatype: bool

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51047 entries, 3000002 to 3399994
Data columns (total 57 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Churn                      51047 non-null  bool
 1   MonthlyRevenue             50891 non-null  float64
 2   MonthlyMinutes             50891 non-null  float64
 3   TotalRecurringCharge       50891 non-null  float64
 4   DirectorAssistedCalls      50891 non-null  float64
 5   OverageMinutes             50891 non-null  float64
 6   RoamingCalls               50891 non-null  float64
 7   PercChangeMinutes          50680 non-null  float64
 8   PercChangeRevenues         50680 non-null  float64
 9   DroppedCalls               51047 non-null  float64
 10  BlockedCalls               51047 non-null  float64
 11  UnansweredCalls            51047 non-null  float64
 12  CustomerCareCalls          51047 non-null  float64
 13  ThreewayCalls              51047 non-null  float64
 14  ReceivedCalls              51047 non-null  float64
 15  OutboundCalls              51047 non-null  float64
 16  InboundCalls               51047 non-null  float64
 17  PeakCallsInOut             51047 non-null  float64
 18  OffPeakCallsInOut          51047 non-null  float64
 19  DroppedBlockedCalls        51047 non-null  float64
 20  CallForwardingCalls        51047 non-null  float64
 21  CallWaitingCalls           51047 non-null  float64
 22  MonthsInService            51047 non-null  int64
 23  UniqueSubs                 51047 non-null  int64
 24  ActiveSubs                 51047 non-null  int64
 25  ServiceArea                51023 non-null  object
 26  Handsets                   51046 non-null  float64
 27  HandsetModels              51046 non-null  float64
 28  CurrentEquipmentDays       51046 non-null  float64
 29  AgeHH1                     50138 non-null  float64
 30  AgeHH2                     50138 non-null  float64
 31  ChildrenInHH               51047 non-null  bool
 32  HandsetRefurbished         51047 non-null  bool
 33  HandsetWebCapable          51047 non-null  bool
 34  TruckOwner                 51047 non-null  bool
 35  RVOwner                    51047 non-null  bool
 36  Homeownership_Known        51047 non-null  bool
 37  BuysViaMailOrder           51047 non-null  bool
 38  RespondsToMailOffers       51047 non-null  bool
 39  OptOutMailings             51047 non-null  bool
 40  NonUSTravel                51047 non-null  bool
 41  OwnsComputer               51047 non-null  bool
 42  HasCreditCard              51047 non-null  bool
 43  RetentionCalls             51047 non-null  int64
 44  RetentionOffersAccepted    51047 non-null  int64
 45  NewCellphoneUser           51047 non-null  bool
 46  NotNewCellphoneUser        51047 non-null  bool
 47  ReferralsMadeBySubscriber  51047 non-null  int64
 48  IncomeGroup                51047 non-null  int64
 49  OwnsMotorcycle             51047 non-null  bool
 50  AdjustmentsToCreditRating  51047 non-null  int64
 51  HandsetPrice               51047 non-null  object
 52  MadeCallToRetentionTeam    51047 non-null  bool
 53  CreditRating               51047 non-null  object
 54  PrizmCode                  51047 non-null  object
 55  Occupation                 51047 non-null  object
 56  MaritalStatus              51047 non-null  object
dtypes: bool(17), float64(26), int64(8), object(6)
memory usage: 16.8+ MB

<b>that way, we changed all boolean objects to their correct data type</b>

In [64]:
data['MaritalStatus'].unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [68]:
data['MaritalStatus'].str.lower().replace('unknown', np.nan, inplace=True)

data['MaritalStatus'] = data['MaritalStatus'].astype('category')

In [69]:
data['MaritalStatus'].info()

<class 'pandas.core.series.Series'>
Index: 51047 entries, 3000002 to 3399994
Series name: MaritalStatus
Non-Null Count  Dtype
--------------  -----
51047 non-null  category
dtypes: category(1)
memory usage: 448.8 KB