## Table Of Contents
* [1- Loading the Dataset](#1-LoadingtheDataset)
* [2- Data-Preprocessing](#Data-Preprocessing)

<h1>1- Loading the Dataset </h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'cell2celltrain.csv', delimiter = ",",  header = 0, index_col = 0)

In [7]:
data.shape

(51047, 57)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51047 entries, 3000002 to 3399994
Data columns (total 57 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Churn                      51047 non-null  object
 1   MonthlyRevenue             50891 non-null  float64
 2   MonthlyMinutes             50891 non-null  float64
 3   TotalRecurringCharge       50891 non-null  float64
 4   DirectorAssistedCalls      50891 non-null  float64
 5   OverageMinutes             50891 non-null  float64
 6   RoamingCalls               50891 non-null  float64
 7   PercChangeMinutes          50680 non-null  float64
 8   PercChangeRevenues         50680 non-null  float64
 9   DroppedCalls               51047 non-null  float64
 10  BlockedCalls               51047 non-null  float64
 11  UnansweredCalls            51047 non-null  float64
 12  CustomerCareCalls          51047 non-null  float64
 13  ThreewayCalls              51047 non-null  float64
 14  ReceivedCalls              51047 non-null  float64
 15  OutboundCalls              51047 non-null  float64
 16  InboundCalls               51047 non-null  float64
 17  PeakCallsInOut             51047 non-null  float64
 18  OffPeakCallsInOut          51047 non-null  float64
 19  DroppedBlockedCalls        51047 non-null  float64
 20  CallForwardingCalls        51047 non-null  float64
 21  CallWaitingCalls           51047 non-null  float64
 22  MonthsInService            51047 non-null  int64
 23  UniqueSubs                 51047 non-null  int64
 24  ActiveSubs                 51047 non-null  int64
 25  ServiceArea                51023 non-null  object
 26  Handsets                   51046 non-null  float64
 27  HandsetModels              51046 non-null  float64
 28  CurrentEquipmentDays       51046 non-null  float64
 29  AgeHH1                     50138 non-null  float64
 30  AgeHH2                     50138 non-null  float64
 31  ChildrenInHH               51047 non-null  object
 32  HandsetRefurbished         51047 non-null  object
 33  HandsetWebCapable          51047 non-null  object
 34  TruckOwner                 51047 non-null  object
 35  RVOwner                    51047 non-null  object
 36  Homeownership              51047 non-null  object
 37  BuysViaMailOrder           51047 non-null  object
 38  RespondsToMailOffers       51047 non-null  object
 39  OptOutMailings             51047 non-null  object
 40  NonUSTravel                51047 non-null  object
 41  OwnsComputer               51047 non-null  object
 42  HasCreditCard              51047 non-null  object
 43  RetentionCalls             51047 non-null  int64
 44  RetentionOffersAccepted    51047 non-null  int64
 45  NewCellphoneUser           51047 non-null  object
 46  NotNewCellphoneUser        51047 non-null  object
 47  ReferralsMadeBySubscriber  51047 non-null  int64
 48  IncomeGroup                51047 non-null  int64
 49  OwnsMotorcycle             51047 non-null  object
 50  AdjustmentsToCreditRating  51047 non-null  int64
 51  HandsetPrice               51047 non-null  object
 52  MadeCallToRetentionTeam    51047 non-null  object
 53  CreditRating               51047 non-null  object
 54  PrizmCode                  51047 non-null  object
 55  Occupation                 51047 non-null  object
 56  MaritalStatus              51047 non-null  object
dtypes: float64(26), int64(8), object(23)
memory usage: 22.6+ MB

In [3]:
data.head()

,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
CustomerID,,,,,,,,,,,,,,,,,,,,,
3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,0.7,...,0,4,No,0,30,Yes,1-Highest,Suburban,Professional,No
3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,0.3,...,0,5,No,0,30,No,4-Medium,Suburban,Professional,Yes
3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,0.0,...,0,6,No,0,Unknown,No,3-Good,Town,Crafts,Yes
3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,52.0,...,0,6,No,0,10,No,4-Medium,Other,Other,No
3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,0.0,...,0,9,No,1,10,No,1-Highest,Other,Professional,Yes

<h1> 2- Data-Preprocessing </h1>